<p id="notice"><%= notice %></p>

<div class="container">
     <div class="page-header">
      <h1>Linky <small>A place to post and share links</small></h1>
    </div>
    
    <div class="list-group">
        <% @links.each do |link| %>
            <%= link_to link.text, link.url, class: "list-group-item" %>
            <% end %>
        </div>
</div>
